body {
  font-family: Life Savers;
  margin: 0;
  background-image: url(background.jpeg);
  background-size: 100%;
  font-size: 22px;
}

header {
  background-color: #5f3320;
  color: #fff;
  padding: 20px 0;
}

h2 {
  text-align: center;
  background-color: #2d0d0dad;
  color: #fff;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 25px;
  text-decoration: underline;
}
h1 {
  text-align: center;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-banner {
  background-image: url(banner.jpeg);
  background-size: 100%;
  padding: 45px;
  font-size: 36px;
}
.main-banner img {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  padding: 0 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container-head {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.logo {
  width: 100px;
  height: 100px;
  padding-left: 40px;
}
.info {
  padding-right: 0;

  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;
  grid-gap: 20px;
}
.contact-item {
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}
.phone-icon {
  grid-column: 1;
}
.info img {
  margin-bottom: 50px;
}
nav ul {
  background-color: #c4b9b3;
  list-style: none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #000000;
  font-weight: bolder;

  font-size: 25px;
  text-decoration: none;
}

.hero {
  padding: 0 0;
  text-align: center;
}

.photoes img {
  height: 280px;
  position: absolute;
}
.img1 {
  top: 750px;
  left: 180px;
  z-index: 1;
}
.img2 {
  top: 900px;
  left: 340px;
  z-index: 2;
}

.img3 {
  top: 820px;
  left: 500px;
  z-index: 3;
}
.about-us {
  text-align: center;
  padding-left: 10px;
}
.services {
  padding: 50px 0;
}
h3 {
  text-align: center;
}
.sport-type {
  text-align: center;
  color: white;
  width: 100%;
  background-color: #471818b7;
  padding: 20px 0;
  font-size: 24px;
  margin-top: 0;
  font-style: normal;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#date {
  text-align: center;
  font-style: italic;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item img {
  height: 280px;
  width: 245px;
  display: block;
}

.reviews {
  padding: 0 0;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.review {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #d9d9d9;
  border-radius: 7%;
}

footer {
  background-color: #5f3320;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
button {
  padding: 12px 20px;
  background-color: #c4b9b3;
  color: #333;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 150px;
  transition: background-color 0.3s ease;
}
input[type="text"],
textarea {
  width: 480px;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
}
textarea {
  height: 120px;
}
.form-container {
  width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

table {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  border-spacing: 10px;
}
th,td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  height: 66px;
  width: 150px;
  padding: 5px;
  text-align: center;
}
th {
  background-color: #471818bd;
  color: #fff;
}
